DB_HOST=localhost
DB_PORT=3306
DB_NAME=lanchonete_dira
DB_USER=root
DB_PASSWORD=
JWT_SECRET=sua_chave_secreta_aqui
PORT=3000
WHATSAPP_NUMBER=5571987792252
EMAILJS_PUBLIC_KEY=
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=